# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# Git
.git/
.gitignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
Dockerfile - Copy
.dockerignore

# Other
*.log
*.sqlite
*.db
*.bak
*.tmp 